#car-info {
    margin: 4px;
    padding: 4px;
    font-family: monospace;
    font-size: large;
    min-width: 500px;
    width: 500px;
    max-width: 500px;
}

#car-info > section {
    display: flex;
    min-height: 1em;
    padding: 4px;
    border-bottom: solid 1px black;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.outparams {
    display: flex;
    flex-direction: column;
}

.outparams > article {
    margin-right: 4px;
    display: flex;
    justify-content: space-between;
}

header::after {
    content: ":";
}

.outparams > article > section {
    min-width: 2rem;
    margin-left: 2px;
}
